.cart {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: rgb(236, 236, 236);
    padding: 70px 10px;
}